td {
    padding: 5px;
    border: 1px solid #fff;
    background: silver;
    color: red;
}

button.delete {
    background: #fff;
    color: red;
}

button.update {
  background: #fff;
  color: forestgreen;
}

button{
    padding: 5px;
    border: 1px solid #222;
}
